body{
    font-family: 'Roboto', sans-serif;
}
.container-main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10rem;
}
.container-friends{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 6.5rem;
}
.box-aside{
    width: 100%;
    max-width: 550px;
    margin: 2rem auto;
    box-sizing: border-box;
    padding: 1.5rem;
}
@media all and (max-width: 1000px){
    ul{
        width: 100%;
        box-sizing: border-box;
        display: inline-block;
        justify-content: space-between;
    }
    ul li{
        display: inline-block;
    }
    .container-main{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 2rem;
    }
    input{
        width: 50%;
        box-sizing: border-box;
        padding: 0.5rem;
        margin: 0.5rem 0;
    }
}